body {
	
}
.base{
	width: 0px;
	height: 0px;
	border-top-right-radius: 60px;
	border-top-left-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px; 
	position: absolute;
	transform-style:preserve-3d;

}
.mouth_top{
	width: 0px;
	height: 0px;
 	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
	border-top: 60px solid yellow;
	border-bottom: 60px solid transparent;
	animation: spin_mouth_top 0.4s infinite linear;
}	
.mouth_bottom{
	width: 0px;
	height: 0px;
 	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
	border-top: 60px solid transparent;
	border-bottom: 60px solid yellow;
	animation: spin_mouth_bottom 0.4s infinite linear;

}	

.pacman{
 	border-right: 60px solid transparent;
	border-left: 60px solid yellow;
	border-top: 60px solid yellow;
	border-bottom: 60px solid yellow;
}

@keyframes spin_mouth_top
{
    0%{
			transform: rotate(0deg);
	}
	70%{ 
		transform: rotate(20deg);
	}

	100%{
			transform: rotate(55deg);
	}
	
}

@keyframes spin_mouth_bottom
{
    0%{
			transform: rotate(0deg);
	}
	70%{
			transform: rotate(-20deg);	
	}
	100%{
			transform: rotate(-40deg);
	}
	
}
